Django==1.6.5
Pillow==2.5.3
South==1.0
WebOb==1.4
WebTest==2.0.16
argparse==1.2.1
beautifulsoup4==4.3.2
chardet==2.2.1
setuptools==1.0
dj-database-url==0.3.0
dj-static==0.0.5
django-admin-sortable==1.7.3
django-ckeditor-updated==4.4.0
django-embed-video==0.11
django-extensions==1.4.0
django-newsletter==0.5.2
django-secure==1.0
django-toolbelt==0.0.1
django-webtest==1.7.7
easy-thumbnails==2.0.1
gunicorn==19.0.0
psycopg2==2.5.3
pystache==0.5.4
python-dateutil==2.2
requests==2.3.0
six==1.8.0
sorl-thumbnail==11.12.1b
static==1.0.2
surlex==0.2.0
vobject==0.8.1c
waitress==0.8.9
wsgiref==0.1.2
