body {
    /*background-color: #FFFFCB !important;*/
}

.germinal-section {
    width: 100%;
    padding: 50px 0;
}

.section-segment {
    background-color: #222222;
}

.section-institutional {
    background-color: #efe3af;
}

.navbar-menu-customized {
    z-index: 5;
    width: 100%;
}

.navbar-logo {
    position: absolute;
    top: 0px;
    z-index: 10;
    left: 70px;
}

.navbar-logo img {
    margin-top: -20px;
    background-color: #30001a;
    border-radius: 0 0 13px 13px;
}


@media only screen and (max-width: 768px) {
    .navbar-menu-customized {
        margin-top: 0;
    }

    .navbar-logo > img {
        width: 183px !important;
        margin-top: 0 !important;
        border-radius: 0;
    }

    .navbar-inverse {
        background-color: #30001a;
    }
    
    .carousel-caption {
        bottom: 60px !important;
        left: 25% !important;
        right: 25% !important;
    }
    
    .carousel-caption p {
        font-size: 12px !important;
    }
    
    .carousel-caption h3 {
        font-size: 14px !important;
        margin: 5px 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-logo {
        left: 0px !important;
    }
    
    .carousel-caption {
        bottom: 35px !important;
    }
    
    .carousel-caption p {
        font-size: 11px !important;
    }
    
    .carousel-caption h3 {
        font-size: 12px !important;
        margin: 5px 0 !important;
    }
    
    .carousel-indicators {
        bottom: 0 !important;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-logo > img {
        width: 270px !important;
        margin-top: -20px !important;
    }

    .navbar-menu-customized {
        margin-top: -20px;
    }
    
    .carousel-caption {
        left: 55% !important;
        right: 1% !important;
    }
    
    .carousel-caption p {
        font-size: 14px !important;
    }
    
    .carousel-caption h3 {
        font-size: 21px !important;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-logo > img {
        width: auto !important;
        margin-top: -20px !important;
    }
    
    .carousel-caption p {
        font-size: 21px !important;
    }
    
    .carousel-caption h3 {
        font-size: 24px !important;
    }
}

@media only screen and (min-width: 1200px) {
}

@media print {
}
