{% extends 'layout.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %} {{ product.title }} {% endblock %}

{% block script %}
<script src="{% static 'products/js/products.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
{% if not product %}
<div class="row">
    <p>Desculpe, este produto está indisponível ou não existe em nosso banco de dados.</p>
</div>

{% else %}

<div class="germinal-section section-products">
	<div class="container marketing">
		<div class="row" id="nav-products">
		    <div> <a href="{{http_referer}}" title="voltar">&laquo; voltar</a> </div>
		</div>
		<div class="row">
			{% if product.photo_set.count %}
            <div class="col-md-6 col-md-push-6"> <h1>{{ product.title }}</h1> </div>
            <div class="col-md-6 col-md-pull-6">
                {% for photo in product.photo_set.all %}
                <div class="tn_photo" id="tn_photo_{{photo.id}}">
                    <img width="auto" height="auto" src="{{ photo.image|thumbnail_url:'gallery-small'|default:'holder.js/40x40' }}" title="{{photo.title}}" alt="{{photo.title}}">
                    <input type="hidden" id="url_img_{{photo.id}}" value="{{ photo.image|thumbnail_url:'large'|default:'holder.js/500x375' }}"/>
                </div>
                {% endfor %}
            </div>
            
            {% else %}
            <div class="col-md-6"> <h1>{{ product.title }}</h1> </div>
            {% endif %}
		</div>
		
		<div class="row">
            {% if product.photo_set.count %}
            <div class="col-sm-6">
                <img id="large-image" class="img-responsive" width="auto" height="auto" />
                <p id="image-description"> </p>
            </div>
            {% endif %}
            
            
            <div class="col-sm-6">
                <p>
					<b>Peso Líquido:</b> {{ product.unit }}
				</p>
				<p>
					<b>Produtor:</b> {{ product.producer }}
				</p>
				<p>
					{% for cert in product.certificate.all %}
					{% if forloop.first %} <b>Certificado</b> {% endif %}
					{{ cert.title }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				<p>
					{% for segment in product.segment.all %}
					{% if forloop.first %} <b>Segmentos:</b> {% endif %}
					{{ segment.title }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				{% if product.harvest_from %}
				<p>
					<b>Safra:</b>
					{{ product.get_harvest_from_display }} à {{ product.get_harvest_until_display }}
				</p>
				{% endif %}
				
				{% autoescape off %}
				{{ product.characteristics }}
				{% endautoescape %}
            </div>
        </div>
	</div>
</div>

<div class="germinal-section section-institutional">
	<div class="container marketing">
		<div class="row">
			<div class="col-sm-12">				
				{% autoescape off %}
				<div class="description">
                	<h2> Descrição </h2>
                	{{ product.description }}
                </div>
                <div class="description">
                	<h2> Ingredientes </h2>
                	{{ product.ingredients }}
                </div>
                <div class="description">
                	<h2> Informações Nutricionais </h2>
                	{{ product.nutrition_facts }}
                </div>
                {% endautoescape %}
                
                {% with product as object %}
				{% include "tags/show_tags.html" %}
				{% endwith %}
			</div>
		</div>
	</div>
</div>

{% endif %}

{% endblock %}
