{% extends 'layout.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load banner %}
{% load cms_pages %}

{% block title %} Início {% endblock %}

{% block top %}
{% generate_banner 'principal' %}
{% endblock %}

{% block content %}

<div class="germinal-section section-segment">
	<div class="container marketing">
		<!-- Thrsel -->
		<div class="row">
			{% for segment in segment_list %}
			<div class="col-sm-4 segment-list">
				<div class="segment-list-description">
					<img class="img-circle" src='{{ segment.image|thumbnail_url:"small"|default:"holder.js/140x140" }}'>
					<h2>{{ segment.title }}</h2>
					<p>
						{{ segment.description|default:"" }}
					</p>
				</div>
				<div>
					<p>
						<a class="btn btn-default" href="{{ segment.get_absolute_url }}" role="button">Ver produtos</a>
					</p>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="row">
			{% endif %}
			{% endfor %}
		</div><!-- /.row -->
	</div>
</div>

<div class="germinal-section section-products">
	<div class="container marketing">

		<div class="row">
			{% for product in product_list %}
			
			{% include "products/_product_box.html" %}
			
			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="row">
			{% endif %}

			{% empty %}

			<p>
				Em breve publicaremos os produtos disponíveis, aguardem!
			</p>

			{% endfor %}
		</div>
	</div><!-- /.container -->
</div>

<div class="germinal-section section-institutional">
	<div class="container marketing">
		{% list_pages 'principios' %}
	</div>
</div>

{% endblock %}