{% extends 'layout.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load banner %}

{% block title %} Início {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'products/css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'products/css/carousel-customized.css' %}">
{% endblock %}

{% block content %}

{% generate_banner 'principal' %}

<div class="germinal-section section-segment">
	<div class="container marketing">
		<!-- Thrsel -->
		<div class="row">
			<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
				<h2>Heading</h2>
				<p>
					Donec sed odio dui. Etiam porta sem malesuada magna mollis
					euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi
					leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
					cursus magna.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
				<h2>Heading</h2>
				<p>
					Duis mollis, est non commodo luctus, nisi erat porttitor
					ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus
					sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
					mauris condimentum nibh.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
				<h2>Heading</h2>
				<p>
					Donec sed odio dui. Cras justo odio, dapibus ac facilisis
					in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div>
		</div><!-- /.row -->
	</div>
</div>

<div class="germinal-section section-institutional">
	<div class="container marketing">
		
		<div class="row">
			{% for product in product_list %}
			<div class="col-sm-4 product-list">
				<div class="product-list-description">
					<div class="product-list-img">
						<img src='{{ product.main_photo_set.image|thumbnail_url:"small"|default:"data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" }}'>
					</div>
					<h3>{{ product.title }}</h3>
					<p>
						<b>Peso Líquido:</b> {{ product.unit }}
					</p>
					<p>
						<b>Ingredientes:</b> {{ product.ingredients|striptags|truncatewords:15 }}
					</p>
					<p>
						<b>Características:</b> {{ product.characteristics|striptags|truncatewords:15 }}
					</p>
					<p>
						<b>Produtor:</b> {{ product.producer }}
					</p>
					<p>
						{% for cert in product.certificate.all %}
							{% if forloop.first %} <b>Certificado</b> {% endif %}
							{{ cert.title }}{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</p>
				</div>
				<div>
					<p><a class="btn btn-default" href="{{ product.get_absolute_url }}" role="button" title="Confira!">Ver produto</a></p>
				</div>
			</div>

			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="row">
			{% endif %}

			{% empty %}

			<p>
				Em breve publicaremos os produtos disponíveis, aguardem!
			</p>

			{% endfor %}
		</div>
	</div><!-- /.container -->
</div>

<div class="germinal-section">
	<div class="container marketing">
		{% include "products/_institutional.html" %}
	</div>
</div>

{% endblock %}