{% extends 'layout.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load banner %}

{% block title %} Início {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'products/css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'products/css/carousel-customized.css' %}">
{% endblock %}

{% block content %}

{% generate_banner 'principal' %}

<div class="germinal-section section-segment">
	<div class="container marketing">
		<!-- Thrsel -->
		<div class="row">
			{% for segment in segment_list %}
			<div class="col-sm-4 segment-list">
				<div class="segment-list-description">
					<img class="img-circle" src='{{ segment.image|thumbnail_url:"small"|default:"holder.js/140x140" }}'>
					<h2>{{ segment.title }}</h2>
					<p>
						{{ segment.description|default:"" }}
					</p>
				</div>
				<div>
					<p>
						<a class="btn btn-default" href="{{ segment.get_absolute_url }}" role="button">Ver produtos</a>
					</p>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="row">
			{% endif %}
			{% endfor %}
		</div><!-- /.row -->
	</div>
</div>

<div class="germinal-section section-institutional">
	<div class="container marketing">

		<div class="row">
			{% for product in product_list %}
			<div class="col-sm-4 product-list">
				<div class="product-list-description">
					<div class="product-list-img">
						<img src='{{ product.main_photo_set.image|thumbnail_url:"small"|default:"holder.js/140x140" }}'>
					</div>
					<h3>{{ product.title }}</h3>
					<p>
						<b>Peso Líquido:</b> {{ product.unit }}
					</p>
					<p>
						<b>Ingredientes:</b> {{ product.ingredients|striptags|truncatewords:15 }}
					</p>
					<p>
						<b>Características:</b> {{ product.characteristics|striptags|truncatewords:15 }}
					</p>
					<p>
						<b>Produtor:</b> {{ product.producer }}
					</p>
					<p>
						{% for cert in product.certificate.all %}
						{% if forloop.first %} <b>Certificado</b> {% endif %}
						{{ cert.title }}{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</p>
				</div>
				<div>
					<p>
						<a class="btn btn-default" href="{{ product.get_absolute_url }}" role="button" title="Confira!">Ver produto</a>
					</p>
				</div>
			</div>

			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="row">
			{% endif %}

			{% empty %}

			<p>
				Em breve publicaremos os produtos disponíveis, aguardem!
			</p>

			{% endfor %}
		</div>
	</div><!-- /.container -->
</div>

<div class="germinal-section">
	<div class="container marketing">
		{% include "products/_institutional.html" %}
	</div>
</div>

{% endblock %}